*{
    box-sizing: border-box;
}

header{

    height: 100px;
    background: linear-gradient(150deg, #ffffff 0%,#ffffff 50%,#000000 50%,#000000 100%);

}

.test{
    height: 100px;
    width: 100px;
    background-color: red;
    margin:50px auto 0;

    /* tips pour effet inverse 
    transition: all 1.5s ease 1;*/
}

.test:hover{
    /* transform: rotate(15deg) rotateX(60deg); */
    /* transition-property: background-color; */
    /* transition-duration: 2s; */
    /* transition-timing-function: ease-out 1s; */

    /* background-color: blue;
    width: 150px;
    transition: all 1.5s ease 1; */

   /*  animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    
    toutes ces lignes = la ligne en dessous!!!!
    */

    animation: bounce 0.5s ease-in-out 0s infinite alternate;
}

@keyframes bounce{

    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-20px);
    }

}